:root {
    --bg-color: #bcbcbc; 
}

/* Void: moved this to top cuz parent element */
/*The code below is to align the information on the homepage (the stuff below the center title)*/
body {
    display: flex;
    justify-content: center;
    align-items: center;     
    min-height: 100vh;           
    margin: auto;               
    flex-direction: column;  
    /* Void: Merged overflow and body css */
    overflow-x: hidden;
}

.banner { /*codes for the banner at the top of the screen. This is in CSS btw*/
    font-family: 'Times New Roman', Times, serif; 
    width: 90%;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #251c86; 
    padding: 20px 5%; 
    flex-wrap: wrap;
    flex:1;
    }

.bannerleft, .bannerright {
    display:flex;
    align-items: center;
    gap:5%;
}

.bannerleft {
    flex:1;
}

.bannerright {
    flex:1;
    white-space: nowrap;
}

#bannertext {
    color: rgb(255, 255, 255); 
    text-shadow: 2px 2px 4px black;
    font-size: 40px;
}
/* Void: Moved cuz formatting, im not sure if i like it tho */
/* Style the buttons that takes you to the other pages */
button {
    background-color: #251c86;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
    border:2px solid #bcbcbc;
}
/* Void: commented out cuz not in use currently */
/* .banner img { There is something wrong with the code here, it keeps on formatting really weird. Might wanna add flexbox to this as well.
width: 50px; 
height: 75px; 
margin-right: 15px; 
display: flex; 
align-items: left; 
} */

/* Void: for left/right viewing for Z pattern viewing ig */
.info {
    display:flex;
    width:70%;
    min-width:200px;
    flex-wrap:wrap;
    gap:12px;
    margin:20px;
}
.infoleft, .inforight {
    flex:1;
}

h1, p {
    text-align: center;
}



button:hover {
    background-color: rgb(83, 80, 255);
}

/* This is stuff for the footer*/
footer {
    background-color: #251c86;
    color: white; 
    text-align: center; 
    padding: 15px; 
    width: 100%; 
    margin-top: auto; /* Pushes it to the bottom */
}

footer p {
    margin: 0;
    font-size: 14px;
}



iframe {
    max-width: 90%; /* Ensure the iframe doesn't overflow horizontally */
    width: 80%;
}

